@{
    ViewData["Title"] = "Home Page";
}

<div class="main-content">
    <div class="breadcrumb">
        <h1>Index Page</h1>        
    </div>
    <div class="separator-breadcrumb border-top"></div>
</div>
