<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E-Wallet</title>

    <link rel="stylesheet" href="~/assets/css/themes/lite-purple.min.css" />
    <link rel="stylesheet" href="~/assets/css/plugins/perfect-scrollbar.min.css" />
</head>
<body class="text-left">
    <div class="app-admin-wrap layout-sidebar-large">
        <div class="main-content-wrap sidenav-open d-flex flex-column">

            @RenderBody()

            <div class="flex-grow-1"></div>
            <div class="app-footer">
                <div class="row">
                    <div class="col-md-9">
                        <p><strong>E-Wallet</strong></p>
                        <p>
                            The digital wallet...
                            <sunt></sunt>
                        </p>
                    </div>
                </div>
                <div class="footer-bottom border-top pt-3 d-flex flex-column flex-sm-row align-items-center">
                    <a class="btn btn-primary text-white btn-rounded" href="https://themeforest.net/item/gull-bootstrap-laravel-admin-dashboard-template/23101970" target="_blank">Buy Gull HTML</a>
                    <span class="flex-grow-1"></span>
                    <div class="d-flex align-items-center">
                        <img class="logo" src="../../dist-assets/images/logo.png" alt="">
                        <div>
                            <p class="m-0">&copy; @DateTime.Now.Year E-Wallet</p>
                            <p class="m-0">All rights reserved</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="~/assets/js/plugins/jquery-3.3.1.min.js"></script>
    <script src="~/assets/js/plugins/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/assets/js/scripts/script.min.js"></script>
    <script src="~/assets/js/scripts/sidebar.large.script.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>