<div class="side-content-wrap">
    <div class="sidebar-left open rtl-ps-none" data-perfect-scrollbar="" data-suppress-scroll-x="true">
        <ul class="navigation-left">
            <li class="nav-item">
                <a class="nav-item-hold" asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="nav-icon i-Bar-Chart"></i><span class="nav-text">Dashboard</span></a>
                <div class="triangle"></div>
            </li>            
            <li class="nav-item" data-item="accounts">
                <a class="nav-item-hold" href="#"><i class="nav-icon i-Computer-Secure"></i><span class="nav-text">Accounts</span></a>
                <div class="triangle"></div>
            </li>
            <li class="nav-item" data-item="transactions">
                <a class="nav-item-hold" href="#"><i class="nav-icon i-Dollar-Sign-2"></i><span class="nav-text">Transactions</span></a>
                <div class="triangle"></div>
            </li>
            <li class="nav-item" data-item="users">
                <a class="nav-item-hold" href="#"><i class="nav-icon i-MaleFemale"></i><span class="nav-text">Users</span></a>
                <div class="triangle"></div>
            </li>
            <li class="nav-item" data-item="settings">
                <a class="nav-item-hold" href="#"><i class="nav-icon i-Gear"></i><span class="nav-text">Settings</span></a>
                <div class="triangle"></div>
            </li>
        </ul>
    </div>
    <div class="sidebar-left-secondary rtl-ps-none" data-perfect-scrollbar="" data-suppress-scroll-x="true">
        <ul class="childNav" data-parent="accounts">
            <li class="nav-item"><a asp-area="Admin" asp-controller="CustomerAccountsManagement" asp-action="Create"><i class="nav-icon i-Lock"></i><span class="item-name">Create Account</span></a></li>
            <li class="nav-item"><a asp-area="Admin" asp-controller="CustomerAccountsManagement" asp-action="Index"><i class="nav-icon i-ID-2"></i><span class="item-name">All Accounts</span></a></li>
        </ul>
        <ul class="childNav" data-parent="transactions">
            <li class="nav-item"><a asp-area="Admin" asp-controller="CustomerTransactionManagement" asp-action="Transfer"><i class="nav-icon i-Receipt-4"></i><span class="item-name">Make Transfer</span></a></li>
            <li class="nav-item"><a asp-area="Admin" asp-controller="CustomerTransactionManagement" asp-action="Index"><i class="nav-icon i-Dollar-Sign"></i><span class="item-name">All Transactions</span></a></li>
        </ul>
        <ul class="childNav" data-parent="users">
            <li class="nav-item"><a asp-area="Admin" asp-controller="UserManagement" asp-action="Index"><i class="nav-icon i-MaleFemale"></i><span class="item-name">All Users</span></a></li>
        </ul>

        <ul class="childNav" data-parent="settings">
            <li class="nav-item"><a asp-area="Admin" asp-controller="AccountTypesManagement" asp-action="Index"><i class="nav-icon i-Receipt-4"></i><span class="item-name">Account Types</span></a></li>
        </ul>

    </div>
    <div class="sidebar-overlay"></div>
</div>