<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E-Wallet Admin</title>
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,400i,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/themes/lite-purple.min.css" />
    <link rel="stylesheet" href="~/assets/css/plugins/perfect-scrollbar.min.css" />
    <link rel="stylesheet" href="~/assets/css/plugins/jquery-ui.min.css" />
</head>
<body class="text-left">
    <div class="app-admin-wrap layout-sidebar-large">
        @await Html.PartialAsync("_AdminMainHeader")
        @await Html.PartialAsync("_AdminSideContent")
        <div class="main-content-wrap sidenav-open d-flex flex-column">
            @RenderBody()

            <div class="flex-grow-1"></div>
            <div class="app-footer">
                <div class="footer-bottom pt-3 d-flex flex-column flex-sm-row align-items-center">
                    <div class="d-flex align-items-center">
                        <img class="logo" src="../../dist-assets/images/logo.png" alt="">
                        <div>
                            <p class="m-0">&copy; @DateTime.Now.Year E-Wallet</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="~/assets/js/plugins/jquery-3.3.1.min.js"></script>
    <script src="~/assets/js/plugins/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/assets/js/plugins/jquery-ui.min.js"></script>
    <script src="~/assets/js/scripts/script.min.js"></script>
    <script src="~/assets/js/scripts/sidebar.large.script.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>