<div class="horizontal-bar-wrap">
    <div class="header-topnav">
        <div class="container-fluid">
            <div class="topnav rtl-ps-none" id="" data-perfect-scrollbar="" data-suppress-scroll-x="true">
                <ul class="menu float-left">
                    <li>
                        <div>
                            <div>
                                <label class="toggle" for="drop-2">Dashboard</label><a href="#"><i class="nav-icon mr-2 i-Bar-Chart"></i> Dashboard</a>
                                <input id="drop-2" type="checkbox" />
                                <ul>
                                    <li><a href="dashboard.v1.html"><i class="nav-icon mr-2 i-Clock-3"></i><span class="item-name">Version 1</span></a></li>
                                    <li><a href="dashboard.v2.html"><i class="nav-icon mr-2 i-Clock-4"></i><span class="item-name">Version 2</span></a></li>
                                    <li><a href="dashboard.v3.html"><i class="nav-icon mr-2 i-Over-Time"></i><span class="item-name">Version 3</span></a></li>
                                    <li><a href="dashboard.v4.html"><i class="nav-icon mr-2 i-Clock"></i><span class="item-name">Version 4</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div>
                                <label class="toggle" for="drop-2">UI kits</label><a href="#"><i class="nav-icon mr-2 i-Suitcase"></i> UI kits</a>
                                <input id="drop-2" type="checkbox" />
                                <ul>
                                    <li><a href="alerts.html"><i class="nav-icon mr-2 i-Bell1"></i><span class="item-name">Alerts</span></a></li>
                                    <li><a href="accordion.html"><i class="nav-icon mr-2 i-Split-Horizontal-2-Window"></i><span class="item-name">Accordion</span></a></li>
                                    <li><a href="badges.html"><i class="nav-icon mr-2 i-Medal-2"></i><span class="item-name">Badges</span></a></li>
                                    <li><a href="buttons.html"><i class="nav-icon mr-2 i-Cursor-Click"></i><span class="item-name">Buttons</span></a></li>
                                    <li><a href="lists.html"><i class="nav-icon mr-2 i-Belt-3"></i><span class="item-name">Lists</span></a></li>
                                    <li><a href="pagination.html"><i class="nav-icon mr-2 i-Arrow-Next"></i><span class="item-name">Paginations</span></a></li>
                                    <li><a href="popover.html"><i class="nav-icon mr-2 i-Speach-Bubble-2"></i><span class="item-name">Popover</span></a></li>
                                    <li><a href="progressbar.html"><i class="nav-icon mr-2 i-Loading"></i><span class="item-name">Progressbar</span></a></li>
                                    <li><a href="tables.html"><i class="nav-icon mr-2 i-File-Horizontal-Text"></i><span class="item-name">Tables</span></a></li>
                                    <li><a href="tabs.html"><i class="nav-icon mr-2 i-New-Tab"></i><span class="item-name">Tabs</span></a></li>
                                    <li><a href="tooltip.html"><i class="nav-icon mr-2 i-Speach-Bubble-8"></i><span class="item-name">Tooltip</span></a></li>
                                    <li><a href="modals.html"><i class="nav-icon mr-2 i-Duplicate-Window"></i><span class="item-name">Modals</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <!-- end ui kits-->
                    <li>
                        <div>
                            <div>
                                <label class="toggle" for="drop-2">Extra UI kits</label><a href="#"><i class="nav-icon i-Library mr-2"></i> Extra UI kits</a>
                                <input id="drop-2" type="checkbox" />
                                <ul>
                                    <li><a href="cards.html"><i class="nav-icon mr-2 i-Line-Chart-2"></i><span class="item-name">Cards</span></a></li>
                                    <li><a href="card.metrics.html"><i class="nav-icon mr-2 i-ID-Card"></i><span class="item-name">Card Metrics</span></a></li>
                                    <li><a href="carousel.html"><i class="nav-icon mr-2 i-Video-Photographer"></i><span class="item-name">Carousels</span></a></li>
                                    <li><a href="nouislider.html"><i class="nav-icon mr-2 i-Width-Window"></i><span class="item-name">Sliders</span></a></li>
                                    <li><a href="image.cropper.html"><i class="nav-icon mr-2 i-Crop-2"></i><span class="item-name">Image Cropper</span></a></li>
                                    <li><a href="loaders.html"><i class="nav-icon mr-2 i-Loading-3"></i><span class="item-name">Loaders</span></a></li>
                                    <li><a href="ladda.button.html"><i class="nav-icon mr-2 i-Loading-2"></i><span class="item-name">Ladda Buttons</span></a></li>
                                    <li><a href="toastr.html"><i class="nav-icon mr-2 i-Bell"></i><span class="item-name">Toastr</span></a></li>
                                    <li><a href="sweet.alerts.html"><i class="nav-icon mr-2 i-Approved-Window"></i><span class="item-name">Sweet Alerts</span></a></li>
                                    <li><a href="tour.html"><i class="nav-icon mr-2 i-Plane"></i><span class="item-name">User Tour</span></a></li>
                                    <li><a href="upload.html"><i class="nav-icon mr-2 i-Data-Upload"></i><span class="item-name">Upload</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <!-- end extra uikits-->
                    <li>
                        <div>
                            <div>
                                <label class="toggle" for="drop-2">Apps</label><a href="#"><i class="nav-icon mr-2 i-Computer-Secure"></i> Apps</a>
                                <input id="drop-2" type="checkbox" />
                                <ul>
                                    <li><a href="invoice.html"><i class="nav-icon mr-2 i-Add-File"></i><span class="item-name">Invoice</span></a></li>
                                    <li><a href="inbox.html"><i class="nav-icon mr-2 i-Email"></i><span class="item-name">Inbox</span></a></li>
                                    <li><a href="chat.html"><i class="nav-icon mr-2 i-Speach-Bubble-3"></i><span class="item-name">Chat</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <!-- end apps-->
                    <li>
                        <div>
                            <div>
                                <label class="toggle" for="drop-2">Forms</label><a href="#"><i class="nav-icon mr-2 i-File-Clipboard-File--Text"></i> Forms</a>
                                <input id="drop-2" type="checkbox" />
                                <ul>
                                    <li><a href="form.basic.html"><i class="nav-icon mr-2 i-File-Clipboard-Text--Image"></i><span class="item-name">Basic Elements</span></a></li>
                                    <li><a href="form.layouts.html"><i class="nav-icon mr-2 i-Split-Vertical"></i><span class="item-name">Form Layouts</span></a></li>
                                    <li><a href="form.input.group.html"><i class="nav-icon mr-2 i-Receipt-4"></i><span class="item-name">Input Groups</span></a></li>
                                    <li><a href="form.validation.html"><i class="nav-icon mr-2 i-Close-Window"></i><span class="item-name">Form Validation</span></a></li>
                                    <li><a href="smart.wizard.html"><i class="nav-icon mr-2 i-Width-Window"></i><span class="item-name">Smart Wizard</span></a></li>
                                    <li><a href="tag.input.html"><i class="nav-icon mr-2 i-Tag-2"></i><span class="item-name">Tag Input</span></a></li>
                                    <li><a href="editor.html"><i class="nav-icon mr-2 i-Pen-2"></i><span class="item-name">Rich Editor</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <!-- end Forms-->
                </ul>
            </div>
        </div>
    </div>
</div>