<div class="horizontal-bar-wrap">
    <div class="header-topnav">
        <div class="container-fluid">
            <div class="topnav rtl-ps-none" id="" data-perfect-scrollbar="" data-suppress-scroll-x="true">
                <ul class="menu float-left">
                    <li>
                        <div>
                            <div>
                                <label class="toggle" for="drop-2">Dashboard</label><a class="nav-item-hold" asp-area="" asp-controller="Home" asp-action="Index"><i class="nav-icon mr-2 i-Bar-Chart"></i> Dashboard</a>

                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div>
                                <label class="toggle" for="drop-2">Transactions</label><a href="#"><i class="nav-icon i-Dollar-Sign-2"></i>Transactions</a>
                                <input id="drop-2" type="checkbox" />
                                <ul>
                                    <li><a asp-area="" asp-controller="AccountTransactions" asp-action="Transfer"><i class="nav-icon mr-2 i-Arrow-Forward-2"></i><span class="item-name">Transfers</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div>
                                <label class="toggle" for="drop-2">Messages</label><a href="#"><i class="nav-icon i-Envelope mr-2"></i> Messages</a>
                                <input id="drop-2" type="checkbox" />
                                <ul>
                                    <li><a asp-area="" asp-controller="Messages" asp-action="Create"><i class="nav-icon mr-2 i-Pen-2"></i><span class="item-name">Send New</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div>
                                <label class="toggle" for="drop-2">Reports</label><a href="#"><i class="nav-icon i-Receipt mr-2"></i> Reports</a>
                                <input id="drop-2" type="checkbox" />
                                <ul>
                                    <li><a asp-area="" asp-controller="Reports" asp-action="AccountStatement"><i class="nav-icon i-Duplicate-Layer"></i><span class="item-name">Statement</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <div>
                                <label class="toggle" for="drop-2">Logout</label><a class="nav-item-hold" asp-area="" asp-controller="Account" asp-action="Logout"><i class="nav-icon mr-2 i-Bar-Chart"></i> Logout</a>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>