
@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
    ViewData["Title"] = "404";
}

<div class="not-found-wrap text-center">
    <h1 class="text-60">403</h1>
    <p class="text-36 subheading mb-3">Easy there!</p>
    <p class="mb-5 text-muted text-18">You are not authorized to view this resource.</p>
    <a class="btn btn-lg btn-primary"href="javascript: history.go(-1)">Go back</a>
</div>
