
@{
    Layout = "~/Views/Shared/_ErrorLayout.cshtml";
    ViewData["Title"] = "500";
}

<div class="not-found-wrap text-center">
    <h1 class="text-60">500</h1>
    <p class="text-36 subheading mb-3">Internal Server Error</p>
    <p class="mb-5 text-muted text-18">Sorry! The server is having issues right now.</p>
    <a class="btn btn-lg btn-primary" href="javascript: history.go(-1)">Go back</a>
</div>
