@model WalletWeb.Models.ViewModels.Requests.AccountUpdateRequestViewModel
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Set Status";
}

<div class="main-content">
    <div class="row mb-4">
        <div class="col mb-3">
            <div class="card text-left">
                <div class="card-header bg-transparent">
                    <div class="row" style="align-items: center;">
                        <div class="col-md-6">
                            <div class="ul-card-widget__head-label">
                                <h5 class="text-18 font-weight-700 card-title">Send Message</h5>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card-body">
                    <form asp-action="SetDailyLimit">
                        @Html.HiddenFor(model => model.Id)
                        <div asp-validation-summary="ModelOnly" class="text-danger mt-3 mb-3"></div>
                        <div class="row">                            

                            <div class="col-md-12 form-group mb-3">
                                <label>New Daily Limit</label>
                                <input asp-for="DailyTransactionLimit" class="form-control" />
                                <span asp-validation-for="DailyTransactionLimit" class="text-danger"></span>
                            </div>

                            <div class="col-md-12 text-right">
                                <button class="btn btn-primary">Update Limit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

